**/*~
**/*.pyc
**/*.pyd
**/__pycache__/**
**/__pycache__
**/.vscode
**/.vscode/**
**/.ropeproject
**/.ropeproject/**
**/virtual_env
**/virtual_env/**
**/.scannerwork
**/.scannerwork/**
**/.sonarlint
**/.sonarlint/**
/media
/media/**
/static
/static/**
/server_secrets
/server_secrets/**
/db.sqlite3
!/implementation/webproj/locale/**/LC_MESSAGES/django.mo
