**/*~
**/*.pyc
**/*.pyd
**/__pycache__/**
**/__pycache__
**/.ropeproject
**/.ropeproject/**
**/virtual_env
**/virtual_env/**
**/.scannerwork
**/.scannerwork/**
**/.sonarlint
**/.sonarlint/**
/media
/media/**
/static
/static/**
/server_secrets
/server_secrets/**
!/workspace/*/input
/workspace/*/*.hash
/workspace/*/*.lock
/workspace/*/*.json
/workspace/*/*.pending
/workspace/*/extracted/**
/workspace/*/extracted
/workspace/*/organized/**
/workspace/*/organized
/workspace/*/processed/**
/workspace/*/processed
/workspace/*/analyzed/**
/workspaces/**
/workspaces
/db.sqlite3
