<!doctype html>{% load i18n %}
<html lang="{% trans 'lang-code-iso' %}">
<head>
    <title>{% trans "A meet you gave a star is about to start" %}</title>
</head>
<body>
<p>
    {% trans "Dear" %} {{star.owner.username}},
</p>

<p>
{% blocktrans with title=star.meet.title creator=star.meet.creator.username %}
You gave a star to the event "{{title}}", created by
"{{creator}}" and it will start in 6 hours.
{% endblocktrans %}
</p>

<p>
{% trans "You can review the meet on the link below:" %}
</p>

<p>
<a href="https://{{site}}{% url 'meet' star.meet.key %}">https://{{site}}{% url 'meet' star.meet.key %}</a>
</p>

<p>
{% blocktrans %}
Sincerely,
The management
{% endblocktrans %}
<p>
</body>
</html>