<header>{% load i18n %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">{{ settings.SITE_NAME }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% comment %}
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link3</a>
                </li>
                {% endcomment %}
                <li class="nav-item dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_language_info for LANGUAGE_CODE as current_lang %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as available_languages %}
                    <a class="nav-link dropdown-toggle" href="#" id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_lang.name_local }} ({{ current_lang.code }})
                    </a>
                    <div class="dropdown-menu" aria-labelledby="langDropdown">
                        <form method="post" action="{% url 'set_language' %}">
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            {% csrf_token %}
                            {% for available_lang in available_languages %}
                            <button name="language" value="{{ available_lang.code }}" class="dropdown-item{% if current_lang.code == available_lang.code %} disabled{% endif %}">
                                {{ available_lang.name_local }} ({{ available_lang.code }})
                            </button>
                            {% endfor %}
                        </form>
                    </div>
                </li>
                {% if user.is_authenticated %}
                <a class="nav-link btn btn-dark" href="{% url 'my_account' %}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {% trans 'Account' %}
                </a>
                <a class="nav-link btn btn-dark" href="{% url 'auth_logout' %}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    {% trans 'Log out' %}
                </a>
                {% endif %}

            </ul>
            <form class="form-inline mt-2 mt-md-0">
            {% if not user.is_authenticated %}
            {% if request.path != '/accounts/login/' %}
            <ul class="navbar-nav form-inline my-2 my-lg-0">
                <a href="{% url 'registration_register' %}" class="btn btn-outline-info ml-sm-2">
                    {% trans 'Sign Up' %}
                </a>
                <a href="{% url 'auth_login' %}" class="btn btn-outline-success ml-sm-1">
                    {% trans "Log in" %}
                </a>
            </ul>
            {% endif %}
            {% endif %}
            </form>
        </div>
    </nav>
</header>
