{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Conversations" %} | {{ block.super }}
{% endblock title %}

{% load linkeddata %}
{% block additional_head %}
{{ block.super }}
{% for mailbox in mailboxes %}
{{mailbox|linkeddata}}
{% endfor %}
{% endblock additional_head %}

{% block content %}
{% if mailboxes.first %}
<ul>
    {% for mailbox in mailboxes %}
    <li>
        <a href="{% url 'conversation' mailbox.pk %}">
            {{ mailbox.initiator.username }} - {{ mailbox.initiated.username }}
            {% if mailbox.meet %}
            @ {{ mailbox.meet.title }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<small class="text-muted">
    {% trans "No conversations to display" %}
</small>
{% endif %}
{% endblock content %}
