{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% if request.path != '/' %}
{% trans "Meets by" %}
{% if by == 'distance' %}
{% trans "distance" %}
{% elif by == 'popularity' %}
{% trans "popularity" %}
{% else %}
{% trans "unknown criteria" %}
{% endif %}
|
{% endif %}
{{ block.super }}
{% endblock title %}

{% block content %}

{% if meets|length > 0 %}
{% include 'meet_table.html' %}
{% else %}
<small class="text-muted">{% trans "Empty list" %}</small>
{% endif %}
<div>
    <a href="{% url 'meetnew' %}" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {% trans "Create meet" %}
    </a>
</div>
{% endblock content %}