{% extends 'base.html' %}
{% load i18n leaflet_tags crispy_forms_tags method_override %}

{% block title %}
{% if meet %}
{% trans "Edit meet" %}
{% else %}
{% trans "Create meet" %}
{% endif %}
|
{{ block.super }}
{% endblock title %}

{% block additional_head %}
{% leaflet_js %}
{% leaflet_css %}
<script deferred>
    mainMap = null;
    marker = null;
    function map_init(map, options){
        mainMap = map;
        map.on('click', map_clicked);
        if(id_lat.value!='' && id_lng.value!=''){
            e = {latlng: {lat: id_lat.value, lng:id_lng.value}};
            map_clicked(e);
        } else {
            map.setView([0,0], 2);
        }
    }
    function map_clicked(e){
        id_lat.value = e.latlng.lat;
        id_lng.value = e.latlng.lng;
        var lla = [id_lat.value, id_lng.value];
        mainMap.setView(lla, 15);
        if(marker!==null) mainMap.removeLayer(marker);
        marker = L.marker(lla).addTo(mainMap);
    }
    function on_init(){
        id_name.onkeyup = change_search_terms;
        btn_id_namesearch.onclick = perform_search;
        change_search_terms();
    }
    var searchajax = null;
    function abort_search(){
        if(searchajax!=null){
            searchajax.abort();
            searchajax = null;
        }
    }
    function change_search_terms(){
        abort_search();
        var searchterm = id_name.value;
        div_id_namesearch.style.display = (searchterm.length >= 3) ? "block" : "none";
        div_id_namesearching.style.display = "none";
        div_id_nameresults.style.display = "none";
    }
    function perform_search(){
        abort_search();
        var searchterm = id_name.value;
        var searchurl = "{% url 'meethints' %}?for="+encodeURIComponent(searchterm);
        searchajax = new XMLHttpRequest();
        searchajax.open("GET", searchurl, true);
        searchajax.onreadystatechange = partial_search_result;
        searchajax.send(null);
        div_id_namesearch.style.display = "none";
        div_id_namesearching.style.display = "block";
        div_id_nameresults.style.display = "none";
    }
    function partial_search_result(){
        if(searchajax !== null && searchajax.readyState == 4){
            if(searchajax.status == 200) {
                try{
                    display_search_results(JSON.parse(searchajax.responseText));
                } catch (e) {
                    display_search_results(null);
                }
            } else display_search_results(null);
        }
    }
    function display_search_results(result){
        var hints = (result || {'hints': null}).hints || [];
        while (div_id_nameresults.firstChild) { div_id_nameresults.firstChild.remove(); }
        // Adding summary:
        var node = document.createElement("div");
        div_id_nameresults.appendChild(node);
        node.className = "text-muted";
        var node2 = document.createTextNode(template_displaying_n_results.innerText.replace(':n:', new String(hints.length)))
        node.appendChild(node2);
        // Adding card holder:
        node = document.createElement("div");
        div_id_nameresults.appendChild(node);
        node.className = "card-columns";
        // Adding cards
        for(let hint of hints){
            card = document.createElement("div");
            card.className = "card card-body";
            node.appendChild(card);
            // Title
            var elem = document.createElement("h5");
            elem.className = "card-title";
            elem.appendChild(document.createTextNode(hint.name));
            card.appendChild(elem);
            // Abstract
            var elem = document.createElement("p");
            elem.className = "card-text";
            elem.appendChild(document.createTextNode(hint.abstract));
            card.appendChild(elem);
            // Latitude
            var elem = document.createElement("p");
            elem.className = "card-text";
            var bold = document.createElement('strong');
            bold.appendChild(document.createTextNode(template_latitude.innerText));
            elem.appendChild(bold);
            elem.appendChild(document.createTextNode(' '+(new String(hint.latitude))));
            card.appendChild(elem);
            // Longitude
            var elem = document.createElement("p");
            elem.className = "card-text";
            var bold = document.createElement('strong');
            bold.appendChild(document.createTextNode(template_longitude.innerText));
            elem.appendChild(bold);
            elem.appendChild(document.createTextNode(' '+(new String(hint.longitude))));
            card.appendChild(elem);
            // Link
            var elem3 = document.createElement("p");
            elem3.className = "card-text";
            var elem2 = document.createElement("a");
            elem2.href = hint.url;
            elem2.target = "_blank";
            var elem = document.createElement("small");
            elem.className = "text-muted";
            elem.appendChild(document.createTextNode(hint.url));
            elem2.appendChild(elem);
            elem3.appendChild(elem2);
            card.appendChild(elem3);
            // Language
            var elem2 = document.createElement("p");
            elem2.className = "card-text";
            var elem = document.createElement("small");
            elem.className = "text-muted";
            elem.appendChild(document.createTextNode("@"+hint.language));
            elem2.appendChild(elem);
            card.appendChild(elem2);
            // Set button
            var elem = document.createElement("button");
            elem.className = "btn btn-primary btn-block";
            elem.type = "button";
            icon = document.createElement("i");
            icon.className = "fa fa-check";
            icon.setAttribute('aria-hidden', 'true');
            elem.appendChild(icon);
            elem.appendChild(document.createTextNode(" "));
            elem.appendChild(document.createTextNode(template_use_this_data.innerText));
            elem.onclick = ()=>{use_search_result(hint);};
            card.appendChild(elem);
        }
        // Add discard results button
        var elem = document.createElement("button");
        elem.className = "btn btn-outline-danger btn-block";
        elem.type = "button";
        icon = document.createElement("i");
        icon.className = "fa fa-times";
        icon.setAttribute('aria-hidden', 'true');
        elem.appendChild(icon);
        elem.appendChild(document.createTextNode(" "));
        elem.appendChild(document.createTextNode(template_discard_results.innerText));
        elem.onclick = ()=>{hide_results();};
        div_id_nameresults.appendChild(elem);
        // Setting proper display:
        div_id_namesearch.style.display = "none";
        div_id_namesearching.style.display = "none";
        div_id_nameresults.style.display = "block";
    }
    function use_search_result(selected){
        map_clicked({'latlng': {'lat': selected.latitude, 'lng': selected.longitude}});
        id_name.value = selected.name;
        id_description.value = selected.abstract;
        id_point_ld.value = selected.url;
        hide_results();
        div_id_privacy_require_account.scrollIntoView({block: "start", behavior: "smooth"});

    }
    function hide_results(){
        abort_search();
        div_id_namesearch.style.display = "block";
        div_id_namesearching.style.display = "none";
        div_id_nameresults.style.display = "none";
    }
    function hide_placeld(){
        id_point_ld.value = '';
    }
</script>
{% endblock additional_head %}

{% block content %}
{% if meet %}
<div>
    <a class="btn btn-warning" href="{% url 'meetlinks' meet.key %}" role="button">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        {% trans "Edit external links" %}
    </a>
    <form action="{% url 'meetedt' meet.key %}" method="POST" style="display: inline;">
        {% csrf_token %}
        {% method_override 'DELETE' %}
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-times" aria-hidden="true"></i>
            {% trans "Delete" %}
        </button>
    </form>
</div>
{% endif %}
<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {{form.id|as_crispy_field}}
    {{form.title|as_crispy_field}}
    {{form.meeting|as_crispy_field}}
    {{form.name|as_crispy_field}}
    <div id="div_id_namesearch" class="form-group" style="display: none;">
        <button id="btn_id_namesearch" type="button" class="btn btn-primary btn-block">
            <i class="fa fa-search" aria-hidden="true"></i>
            {% trans "Search for geolocation and description" %}
        </button>
    </div>
    <div id="div_id_namesearching" class="form-group" style="display: none;">
        <button type="button" class="btn btn-outline-primary btn-block" disabled>
            <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
            {% trans "Searching for geolocation and description..." %}
        </button>
    </div>
    <div id="div_id_nameresults" class="form-group" style="display: none;">
    </div>
    <div style="display: none;">
        <div id="template_displaying_n_results">{% trans "Displaying :n: results:" %}</div>
        <div id="template_latitude">{% trans "Latitude:" %}</div>
        <div id="template_longitude">{% trans "Longitude:" %}</div>
        <div id="template_use_this_data">{% trans "Use this data" %}</div>
        <div id="template_discard_results">{% trans "Discard results" %}</div>
    </div>
    <div id="div_id_point_ld" class="form-group">
        <label for="id_point_ld" class="col-form-label  requiredField">
            {% trans "form_meet_point_ld_label" %}<span class="asteriskField">*</span>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" name="point_ld" id="id_point_ld" placeholder="http://..." value="{{form.point_ld.value|default_if_none:''}}" readonly>
            <button class="btn btn-danger input-group-append" type="button" onclick="hide_placeld()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    {# Begin point selector field #}
    {% comment %} {{form.point|as_crispy_field}} {% endcomment %}
    <div id="div_id_point" class="form-group">
        <label for="id_point" class="col-form-label  requiredField">
            {% trans "form_meet_point_label" %}<span class="asteriskField">*</span>
        </label>
        {% leaflet_map "main" callback="map_init" %}
    </div>
    {{form.lat|as_crispy_field}}
    {{form.lng|as_crispy_field}}
    {{form.description|as_crispy_field}}
    {# End point selector field #}
    {{form.privacy_require_account|as_crispy_field}}
    {{form.privacy_unlisted|as_crispy_field}}
    {# Can't simply use this form because point selector field doesn't work #}
    {% comment %} {{form|crispy}} {% endcomment %}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        {% trans "Save" %}
    </button>
</form>
<script deferred>on_init();</script>
{% endblock content %}
