{% load i18n method_override %}
{% if request.user.pk != friendable.pk %}
{% if is_friend %}
<form action="{% url 'user' friendable.username %}" method="POST" style="display: inline;">
    {% csrf_token %}
    {% method_override 'DELETE' %}
    <button class="btn btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
        {% trans "Break friendship" %}
    </button>
</form>
{% elif is_pending %}
{% if is_initiator %}
<form action="{% url 'user' friendable.username %}" method="POST" style="display: inline;">
    {% csrf_token %}
    {% method_override 'DELETE' %}
    <button class="btn btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
        {% trans "Cancel friendship request" %}
    </button>
</form>
{% else %}
<form action="{% url 'user' friendable.username %}" method="POST" style="display: inline;">
    {% csrf_token %}
    <button class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        {% trans "Accept" %}
    </button>
</form>
<form action="{% url 'user' friendable.username %}" method="POST" style="display: inline;">
    {% csrf_token %}
    {% method_override 'DELETE' %}
    <button class="btn btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
        {% trans "Reject" %}
    </button>
</form>
{% endif %}
{% else %}
<form action="{% url 'user' friendable.username %}" method="POST" style="display: inline;">
    {% csrf_token %}
    <button class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {% trans "Add friend" %}
    </button>
</form>
{% endif %}
{% endif %}
